<!DOCTYPE html>
<html>
  <head>
    <title>Residencia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

  <div class="container-fluid">
    <a class="navbar-brand" href="#">VET</a>
    <!-- Links -->
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cadastro</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Centro</a></li>
          <li><a class="dropdown-item" href="#">Another link</a></li>
          <li><a class="dropdown-item" href="#">A third link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>
<div class="container-fluid" style="margin-top:80px">
  <body>
    <%= yield %>
  </body>
</div>
</html>
